services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: eventflow
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    ports:
      - "5672:5672"
      - "15672:15672"

  adminer:
    image: adminer
    restart: always
    ports:
      - "9090:8080"

  auth-service:
    build: ./services/auth-service
    restart: always
    ports:
      - "3001:3001"
    environment:
      DATABASE_URL: postgresql://admin:admin@postgres:5432/eventflow?schema=public
      JWT_SECRET: secretKey
      PORT: 3001
    depends_on:
      - postgres
      - rabbitmq

volumes:
  postgres_data:
